
<div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-5">
            <h1 class="mt-4">Projetos</h1>
            <ol class="breadcrumb mb-4"></ol>
            <div class="row">
                {{#each projetos}}
                    <div class="card col-xl-2 col-md-12" style="margin: 0.5rem;">
                        <h5 class="card-header">{{dataValues.titulo}}</h5>
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{dataValues.createdAt}}</h5>
                            <p class="card-text">{{dataValues.descricao}}</p>
                            <a href="#" class="btn btn-primary mt-auto">Ver Projeto</a>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>

    </main>
</div>